@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Lato');


body{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}
.authorname.title1{
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	font-size: 10em;
	color: #505050;
}
.authorname.title1 span {
    background: #333;
    color: #fff;
    padding: 0 20px;
    border-radius: 15px;
}
#main{
	overflow: hidden;
}
.view{
	height: 90vh;
	width: 100vw;
	display: table;
}
.content{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.tag{
	font-size: 2em;
	margin-top: 20px;
}

