@import url('https://fonts.googleapis.com/css?family=Anton');

.title1{
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	font-size: 9em;
	color: #505050;
}

.view{
	height: 90vh;
	width: 100vw;
	display: table;
}
.content{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

